{{ form_start(form) }}
<div class="container-fluid">
    <div class="row my-2">
        <div class="col-12">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <small>{{ form_help(form.name) }}</small>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-12 text-end">
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
